

*.json

*.scss

app/bower_components/ig-switches/.bowerrc

app/bower_components/ig-switches/.gitattributes

app/bower_components/jquery/.gitattributes

app/bower_components/jquery/.gitmodules

app/bower_components/jquery/.jshintrc

*.txt

app/bower_components/jquery/CONTRIBUTING.md

app/bower_components/jquery/speed
app/bower_components/jquery/src
app/bower_components/jquery/test
app/bower_components/ft-scss-variables/README.md

app/bower_components/ig-switches/.jshintrc
